*{
  margin: 0;
  font-family:  "Poppins", Georgia, serif;
}

body{
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: whitesmoke;
  color:#18534F;
}

.Title{
  text-align: center;
  color: #FEEAA1;

}
  
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background: #226D68;
  z-index: 100;
}

li {
  list-style-type: none;
}

.navbar{
  display: flex;
  flex-direction: row;
}

.navbar a{
  font-size: 18px;
  color:  #FEEAA1;
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
  position: relative;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  height: 2px;
  background-color: #D6955B;
  transition : width 0.3s;
}
.navbar a:hover::before{
  width:100%;
}

@media (max-width: 768px) {
.header {
    padding: 20px 5%;
}




}